* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-side {
    padding-left: 98px;
    padding-right: 98px;
}

.flex-dis {
    display: flex;
    justify-content: center;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

/**header**/

.page-header {
    height: 360px;
    position: relative;
    background-color: #f5f5f5;
}

.header {
    padding-top: 63px;

}

.menu {
    float: right;
    padding-right: 56px;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
    width: 25%;
    letter-spacing: 1.4px;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.two:hover ~ hr {
    margin-left: 14%;
    width: 19%;
}

.three:hover ~ hr {
    margin-left: 34%;
    width: 16%;
}

.four:hover ~ hr {
    margin-left: 52%;
    width: 20%;
}

.five:hover ~ hr {
    margin-left: 74%;
    width: 16%;
}

hr {
    height: 3px;
    width: 14%;
    margin: 0;
    background: #212121;
    border: none;
    transition: .3s ease-in-out;
}

.header-h2 {
    padding-top: 151px;
    color: #212121;
    font-size: 62px;
    font-weight: 100;
}

/**end of header**/

/**contacts**/

.contact {
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    margin-right: 30px;
    margin-top: 71px;
    padding-top: 48px;
    text-align: center;
    width: 370px;
    height: 320px;
    margin-bottom: 124px;
}

.contact-end {
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    margin-top: 71px;
    padding-top: 48px;
    text-align: center;
    width: 370px;
    height: 320px;
}

.icon-location:before {
    content: "\e947";
    color: #212121;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
}

.location {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 29px;
}

.heading {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    padding-top: 16px;
}

.cont {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    padding-top: 2px;
}

.a-cont {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
}

/**end of contacts**/

/**footer**/

.footer {
    background-color: #f7f7f7;
}

.footer-head {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    position: relative;
}

.cont-letter {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
}

.useful-letter {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.lets-stay-content {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
}

.fr {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.contact-us {
    padding-top: 116px;
    float: left;
    padding-right: 75px;
}

.address {
    width: 225px;
    line-height: 22px;
    padding-top: 14px;
}

.mail {
    width: 221px;
    line-height: 22px;
    padding-top: 23px;
}

.useful-information {
    padding-top: 116px;
    float: left;
    padding-right: 65px;
}

.useful-left {
    float: left;
    width: 140px;
    padding-right: 95px;
    line-height: 26px;
    padding-top: 12px;
}

.useful-right {
    width: 200px;
    line-height: 26px;
    overflow: hidden;
    padding-top: 12px;
}

.lets-stay {
    padding-top: 116px;
    overflow: hidden;
}

.lets-stay-content {
    padding-top: 15px;
    line-height: 22px;
    padding-bottom: 22px;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
}

.contact-form {
    overflow: hidden;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
}

.contact-form-input {
    width: 299px;
    height: 46px;
    padding-left: 19px;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    border: none;
    outline: none;
}

.contact-form-btn {
    float: right;
    cursor: pointer;
    padding: 12px 13px;
}

.icon-paper-plane:before {
    content: "\e900";
    font-size: 22px;
    color: #6c6c6c;
}

.copy {
    clear: both;
    padding-top: 66px;
    padding-bottom: 56px;
    position: relative;
}

.copyright {
    position: absolute;
    left: 0;
}

.footer-container {
    bottom: 30px;
    width: 100%;
    position: absolute;
    text-align: center;
}

.terms {
    position: absolute;
    right: 0;
}

.submenu-link {
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #6c6c6c;
    display: inline-block;
    text-align: left;
}

.icon {
    color: white;
    position: absolute;
    margin-top: 7px;
    padding-left: 7px;
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-facebook:hover {
    color: #3b5998;
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-twitter:hover {
    color: #1DA1F2;
}

.icon-google-plus:before {
    content: "\ea8b";
}

.icon-google-plus:hover {
    color: #dd4e41;
}

.icon-pinterest2:before {
    content: "\ead2";
}

.icon-pinterest2:hover {
    color: #BD081C;
}

/**end of footer**/
