* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-side {
    padding-left: 98px;
    padding-right: 98px;
}

.flex-dis {
    display: flex;
    justify-content: center;
}

. .holder {
    position: relative;
    width: 270px;
    height: 270px;
    padding-right: 30px;
}

.block {
    position: absolute;
    width: 270px;
    height: 270px;
    background: rgba(255, 255, 255, 0.9);
    outline: 1px solid #9c9c9c;
    display: none;
}

.block-container {
    padding-top: 62px;
    padding-left: 32px;
    width: 206px;
    height: 126px;
    text-align: center;
}

.block-btn {
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
}

.block-h4 {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 13px;
}

.block-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 226px;
}

.block-float {
    float: left;
}

.holder:hover .block {
    display: block;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

/**header**/

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
    padding-right: 80px;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
    width: 25%
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
}  

.two:hover ~ hr {
  margin-left: 15%;
    width: 19%;
}

.three:hover ~ hr {
  margin-left: 35%;
    width: 16%;
}

.four:hover ~ hr {
  margin-left: 52%;
    width: 20%;
}

.five:hover ~ hr {
  margin-left: 74%;
    width: 16%;
}

hr {
  height: 3px;
  width: 14%;
  margin: 0;
  background: #212121;
  border: none;
  transition: .3s ease-in-out;
}

.slider-text {
    padding-top: 283px;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    padding-top: 15px;
    margin-bottom: 25px;
    width: 458px;
    line-height: 24px
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    width: 212px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    letter-spacing: 3.6px;
}

.button-arrow {
    padding-left: 16px;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c7c7c7;
    display: inline-block;
    margin: 4px;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

/**end of header**/

.page-layout {}

/**pro4**/

.por4-catalog {
    height: 609px;
}

.pro4-featured-head {
    padding-top: 120px;
}

.featured {
    list-style-type: none;
}

.pro4-list {
    float: left;
}

.pro4-link {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid #6c6c6c;
    padding: 21px 20px;
}

.pro4-link-active {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 3px solid #212121;
    padding: 19px 20px;
}

.explore-link {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    padding-top: 16px;
    letter-spacing: 3.6px;
}

.pro4-products {
    padding-top: 72px;
    padding-bottom: 120px;
}

.pro4-products-link {
    padding-right: 30px;
}

pro4-products-photo {
    width: 270px;
}

/**end of pro4**/

/**exclusive**/

.exclusive-catalog {
    height: 683px;
    width: 1366px;
}

.promo-left {
    background-image: url(img/promo-img1.jpg);
    float: left;
    height: 683px;
    width: 683px;
}

.promo-right {
    background-image: url(img/promo-img.jpg);
    height: 683px;
    overflow: hidden;
}

.promo-text {
    padding-top: 228px;
    padding-left: 50px;
}

.promo-exclusive {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.promo-h3 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.promo-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 385px;
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 24px;
}

/**end of exclusive**/

/**trending**/

.trending-head {
    padding-top: 120px;
}

.trending {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
}

.trending-products {
    padding-top: 64px;
    padding-bottom: 120px;
}

.trending-product {
    padding-right: 30px;
    padding-top: 30px;
}

.trending-product-end {
    padding-top: 30px;
}

/**end of trending**/

/**hot-deal**/

.hot-deal-slider {
    background-image: url(img/hot-deal-slider.jpg);
    height: 800px;
    position: relative;
}

.hot-deal-text {
    padding-top: 287px;
}

.hot-deal {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.hot-deal-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    text-transform: uppercase;
}

.hot-deal-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 24px;
}

/**end of hot-deal**/

/**sm**/

.sm-catalog {
    height: 810px;
}

.sm-left {
    background-image: url(img/product-1-sm-left.png);
    width: 570px;
    height: 570px;
    float: left;
    margin-top: 120px;
    margin-bottom: 120px;
}

.sm-text {
    padding-top: 186px;
    padding-left: 30px;
}

.sm-exclusive {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.sm-h3 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.sm-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 340px;

}

.sm-right {
    float: right;
    width: 570px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.sm-product {
    padding-bottom: 27px;
    padding-right: 27px;
}

/**end of sm**/

/**mobile-app**/

.mobile-app-info {
    background-image: url(img/mobile-img.jpg);
    height: 516px;
}

.mobile-text {
    padding-top: 125px;
}

.mobile-app {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.mobile-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    width: 487px;
    line-height: 72px;
}

.mobile-content {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 35px;
}

.app-store {
    float: left;
    padding-right: 10px;
}

/**end of mobile-app**/

/**footer**/

.footer {
    background-color: #f7f7f7;
}

.footer-head {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    position: relative;
}

.cont-letter {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
}

.useful-letter {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.lets-stay-content {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
}

.fr {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.contact-us {
    padding-top: 120px;
    float: left;
    padding-right: 80px;
}

.address {
    width: 225px;
    line-height: 22px;
    padding-top: 18px;
}

.mail {
    width: 221px;
    line-height: 22px;
    padding-top: 18px;
}

.useful-information {
    padding-top: 120px;
    float: left;
    padding-right: 80px;
}

.useful-left {
    float: left;
    width: 140px;
    padding-right: 103px;
    line-height: 26px;
    padding-top: 20px;
}

.useful-right {
    width: 200px;
    line-height: 26px;
    overflow: hidden;
    padding-top: 20px;
}

.lets-stay {
    padding-top: 120px;
    overflow: hidden;
}

.lets-stay-content {
    padding-top: 18px;
    line-height: 22px;
    padding-bottom: 26px;
}

.contact-form {
    overflow: hidden;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
}

.contact-form-input {
    width: 250px;
    height: 48px;
    padding-left: 19px;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    border: none;
    outline: none;
}

.contact-form-btn {
    float: right;
    padding: 15px;
    cursor: pointer;
}

.icon-paper-plane:before {
    content: "\e900";
    font-size: 22px;
    color: #6c6c6c;
}

.copy {
    clear: both;
    padding-top: 69px;
    padding-bottom: 60px;
    position: relative;
}

.copyright {
    position: absolute;
    left: 0;
}

.footer-container {
    bottom: 30px;
    width: 100%;
    position: absolute;
    text-align: center;
}

.terms {
    position: absolute;
    right: 0;
}

.submenu-link {
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #6c6c6c;
    display: inline-block;
    margin: 2px;
    text-align: left;
}

.icon {
    color: white;
    position: absolute;
    margin-top: 7px;
    padding-left: 7px;
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-facebook:hover {
    color: #3b5998;
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-twitter:hover {
    color: #1DA1F2;
}

.icon-google-plus:before {
    content: "\ea8b";
}

.icon-google-plus:hover {
    color: #dd4e41;
}

.icon-pinterest2:before {
    content: "\ead2";
}

.icon-pinterest2:hover {
    color: #BD081C;
}

/**end of footer**/
